@import url(fonts.css);
* {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

html, body {
  height: 100%;
  min-width: 300px; }

.wrap {
  width: 960px;
  margin: 0 auto; }

.header {
  background: #2BCDE4;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative; }
  .header .logo {
    float: left;
    padding-top: 17px; }

.nav {
  overflow: hidden; }
  .nav ul {
    float: right; }
    .nav ul li {
      float: left; }
      .nav ul li a {
        height: 75px;
        line-height: 75px;
        font-size: 18px;
        padding: 0 15px;
        color: white;
        text-decoration: none;
        position: relative;
        display: block; }
        .nav ul li a img {
          position: relative;
          top: 10px; }
        .nav ul li a:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 3px;
          background: #27bed3;
          background: -moz-linear-gradient(left, #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%);
          background: -webkit-gradient(linear, left top, right top, color-stop(0%, #27bed3), color-stop(50%, #27bed3), color-stop(51%, #54d7eb), color-stop(51%, #54d7eb));
          background: -webkit-linear-gradient(left, #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%);
          background: -o-linear-gradient(left, #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%);
          background: -ms-linear-gradient(left, #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%);
          background: linear-gradient(to right, #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27bed3', endColorstr='#54d7eb',GradientType=1 ); }
    .nav ul li.active a {
      -webkit-box-shadow: inset 0 -4px 0 0 #FFDE01;
      box-shadow: inset 0 -4px 0 0 #FFDE01; }
    .nav ul li:last-child a:before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 3px;
      background: #27bed3;
      background: -moz-linear-gradient(left, #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #27bed3), color-stop(50%, #27bed3), color-stop(51%, #54d7eb), color-stop(51%, #54d7eb));
      background: -webkit-linear-gradient(left, #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%);
      background: -o-linear-gradient(left, #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%);
      background: -ms-linear-gradient(left, #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%);
      background: linear-gradient(to right, #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27bed3', endColorstr='#54d7eb',GradientType=1 ); }

.content {
  background: #EFF0F2; }
  .content .wrap {
    background: #fff; }
  .content .contentTitle {
    padding: 25px 25px 15px;
    border-bottom: 3px solid #2BCDE4; }
    .content .contentTitle a {
      float: right;
      color: #2ACCE3;
      text-decoration: none;
      font-size: 14px; }
    .content .contentTitle h2 {
      color: #434446;
      font-size: 16px; }
  .content .section {
    margin: 0 0 0 25px; }
    .content .section h2 {
      padding: 15px 0 5px;
      color: #434446;
      font-size: 16px;
      border-bottom: 1px solid #C9CED1; }

/*# sourceMappingURL=style.css.map */
