@import "fonts.css"

$color1: #5b5c5a

*
  margin: 0
  padding: 0

ul
  list-style-type: none

@mixin border-radius($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@mixin background-size($width)
  -o-background-size: $width
  -webkit-background-size: $width
  -khtml-background-size: $width
  -moz-background-size: $width
  background-size: $width

@mixin size($width, $height: $width)
  width: $width
  height: $height

@mixin linx($link, $hover, $active)
  a
    color: $link
    &:hover
      color: $hover
    &:active
      color: $active

@mixin pad($pads)
  padding: $pads

@mixin mar($margs)
  margin: $margs

@mixin prefix($property, $value)
  -webkit-#{$property}: #{$value}
  -khtml-#{$property}: #{$value}
  -moz-#{$property}: #{$value}
  -ms-#{$property}: #{$value}
  -o-#{$property}: #{$value}
  #{$property}: #{$value}

html, body
  height: 100%
  min-width: 300px

.wrap
  width: 960px
  margin: 0 auto

//\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.header
  background: #2BCDE4
  overflow: hidden
  -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0, .2)
  box-shadow: 0 3px 0 0 rgba(0,0,0, .2)
  z-index: 1
  position: relative
  .logo
    float: left
    padding-top: 17px

.nav
  overflow: hidden
  ul
    float: right
    li
      float: left
      a
        height: 75px
        line-height: 75px
        font-size: 18px
        padding: 0 15px
        color: white
        text-decoration: none
        position: relative
        display: block
        img
          position: relative
          top: 10px
        &:after
          content: ''
          position: absolute
          left: 0
          top: 0
          height: 100%
          width: 3px
          background: #27bed3
          background: -moz-linear-gradient(left,  #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%)
          background: -webkit-gradient(linear, left top, right top, color-stop(0%,#27bed3), color-stop(50%,#27bed3), color-stop(51%,#54d7eb), color-stop(51%,#54d7eb))
          background: -webkit-linear-gradient(left,  #27bed3 0%,#27bed3 50%,#54d7eb 51%,#54d7eb 51%)
          background: -o-linear-gradient(left,  #27bed3 0%,#27bed3 50%,#54d7eb 51%,#54d7eb 51%)
          background: -ms-linear-gradient(left,  #27bed3 0%,#27bed3 50%,#54d7eb 51%,#54d7eb 51%)
          background: linear-gradient(to right,  #27bed3 0%,#27bed3 50%,#54d7eb 51%,#54d7eb 51%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27bed3', endColorstr='#54d7eb',GradientType=1 )
    li.active a
      -webkit-box-shadow: inset 0 -4px 0 0 #FFDE01
      box-shadow: inset 0 -4px 0 0 #FFDE01
    li:last-child a:before
      content: ''
      position: absolute
      right: 0
      top: 0
      height: 100%
      width: 3px
      background: #27bed3
      background: -moz-linear-gradient(left,  #27bed3 0%, #27bed3 50%, #54d7eb 51%, #54d7eb 51%)
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#27bed3), color-stop(50%,#27bed3), color-stop(51%,#54d7eb), color-stop(51%,#54d7eb))
      background: -webkit-linear-gradient(left,  #27bed3 0%,#27bed3 50%,#54d7eb 51%,#54d7eb 51%)
      background: -o-linear-gradient(left,  #27bed3 0%,#27bed3 50%,#54d7eb 51%,#54d7eb 51%)
      background: -ms-linear-gradient(left,  #27bed3 0%,#27bed3 50%,#54d7eb 51%,#54d7eb 51%)
      background: linear-gradient(to right,  #27bed3 0%,#27bed3 50%,#54d7eb 51%,#54d7eb 51%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27bed3', endColorstr='#54d7eb',GradientType=1 )

//\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\content\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.content
  background: #EFF0F2
  .wrap
    background: #fff
  .contentTitle
    padding: 25px 25px 15px
    border-bottom: 3px solid #2BCDE4
    a
      float: right
      color: #2ACCE3
      text-decoration: none
      font-size: 14px
    h2
      color: #434446
      font-size: 16px

  .section
    margin: 0 0 0 25px
    h2
      padding: 15px 0 5px
      color: #434446
      font-size: 16px
      border-bottom: 1px solid #C9CED1















